<html>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" bgcolor="#f0f0f0" offset="0" style="width:100% !important; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; background-color: #f0f0f0; text-size-adjust:none; margin:0; padding:0; min-width:100%;">
    <center bgcolor="#f0f0f0" style="background-color:#f0f0f0; background: #f0f0f0;">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="height:100% !important; margin:0; padding:0; width:100% !important; font-family:Arial, Helvetica, sans-serif;">
      <tr>
        <td valign="top" align="center" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px;">
          <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;">
            <tr>
              <!-- header -->
              <td valign="top" align="center" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;">
                      <tr>
                          <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width:235px;">
                              &nbsp;
                          </td>
                      </tr>
                      <tr>
                          <td valign="top" width= "235" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width:235px;">
                              &nbsp;
                          </td>
                          <td valign="top" width="150" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px;">
                              <img src="logo.svg" style="width:100%">
                          </td>
                          <td valign="top" width= "235" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width:235px;">
                              &nbsp;
                          </td>
                      </tr>
                      <tr>
                          <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:13px; width: 235px;">
                              &nbsp;
                          </td>
                      </tr>
                  </table>
              </td>
            </tr>
            <tr>
              <!-- content -->
              <td valign="top" width="620" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width: 620px;">
                <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif; background-color: #5D21D1;text-align: center;color:#ffffff;border-top-left-radius:10px;border-top-right-radius:10px;border-color:#0c93cf;">
                    <tr>
                        <td valign="top" width="30" style="width:30px;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:30px;">
                            &nbsp;
                        </td>
                        <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="560" style="width:560px;font-family:Arial, Helvetica, sans-serif; background-color:#5D21D1;text-align: center;color:#ffffff;">
                                <tr>
                                    <td valign="top" align:="center" width="560" style="width:560px;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:30px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" align="center" width="560" style="width:560px;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width: 620px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="560" style="font-family:Arial, Helvetica, sans-serif; width: 560px;">
                                            <tr>
                                                <td valign="top" align="center" width="560" style="width:560px;text-align:center; word-break:break-word;font-weight:bold;font-family: Helvetica, Arial, sans-serif;color: #ffffff;font-size:20px;line-height:25px; width:560px;">
                                                    Note for You!
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="560" style="width:560px;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size:14px;line-height:30px; width:560px;">
                                        &nbsp;
                                    </td>
                                </tr>
            
                            </table>
                        </td>
                    </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top" width="620" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px; width: 620px;">
                <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;background-color:#ffffff;text-align:center;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
                    <tr>
                        <td valign="top" width="30" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:20px;">
                            &nbsp;
                        </td>
                        <td valign="top" width="560" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:20px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="560" style="width:560px;font-family:Arial, Helvetica, sans-serif;background-color:#ffffff;text-align:left;">
                                <tr>
                                    <td valign="top" width="560" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:30px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="560" style="width:560px; word-break:break-word;font-weight:bold;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size:20px;line-height:25px; width:560px;padding: 0 15px;">
                                        {{note_subject}}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="560" style="word-break:break-word;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 20px;">
                                        {% load inlinecss %}
                                        {% inlinecss "css/quill.css" %}
                                        <div class="ql-snow ql-editor">
                                            {{ note_content | safe }}
                                        </div>
                                        {% endinlinecss %}
            
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="480" style="font-family:Arial, Helvetica, sans-serif; font-size: 13px; line-height:17px; font-weight: normal; color: #666666; word-wrap: break-word;text-align: left;letter-spacing: 0.8px;padding: 12px 15px;">
                                        {% if custom_signature_details %}
                                            {% include 'includes/custom_student_signature.html' %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="560" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:30px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" width="30" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:20px;">
                            &nbsp;
                        </td>
                    </tr>
                </table>
              </td>
            </tr>
            <tr>
              <!-- footer -->
              <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;text-align:center;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
                    <tr>
                        <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:25px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;text-align:center;">
                                <tr>
                                    <td valign="top" width="218" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        &nbsp;
                                    </td>
                                    <td valign="top" width="184" style="text-align:center;font-family: Helvetica, Arial, sans-serif;color: #393937;font-size:0;line-height:0;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="184" style="font-family:Arial, Helvetica, sans-serif;text-align:center;">
                                            <tr>
                                                <td valign="top" width="100" style="color: #393937;font-size: 14px;line-height: 20px;">
                                                    <img src="logo.svg" align="center" hspace="0" vspace="0" style="border: none;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td valign="top" width="218" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                     <!-- <tr>
                        <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;text-align:center;">
                                <tr>
                                    <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 51px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" width="120" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        &nbsp;
                                    </td>
                                    <td valign="top" width="380" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="380" style="font-family:Arial, Helvetica, sans-serif;text-align:center;">
                                            <tr>
                                                <td valign="top" width="132" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                                    &nbsp;
                                                </td>
                                                <td valign="top" width="76" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 12px;line-height: 17px;">
                                                    <a href="http://www.google.com" style="color:#848484;">Unsubscribe</a>
                                                </td>
                                                <td valign="top" width="40" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 12px;line-height: 17px;">
                                                    <a href="http://www.google.com"  style="color:#848484;">Help</a>
                                                </td>
                                                    <td valign="top" width="132" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                                    &nbsp;
                                                </td>
                                            <tr>
                                        </table>
                                    </td>
                                    <td valign="top" width="120" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr> -->
                    <tr>
                        <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="620" style="font-family:Arial, Helvetica, sans-serif;text-align:center;">
                                <tr>
                                    <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height:25px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td  valign="top" width="620" style="white-space: nowrap; word-wrap: nowrap; word-break:normal;font-family: Helvetica, Arial, sans-serif;color: #848484;font-size: 12px;line-height: 17px;">
            
                                        This email was intended for Reciever Name (<a href="mailto:reciever@gmail.com" target="_blank" style="white-space: nowrap;color:#457ac6;">reciever@gmail.com</a>)
                                    </td>
                                </tr>
                                <tr>
                                    <td  valign="top" width="620" style="font-family: Helvetica, Arial, sans-serif;color: #848484;font-size: 12px;line-height: 17px;">
                                        &copy; 2018 POD.ai From Calyxpod Talent Solutions Pvt. Ltd.
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="font-family: Helvetica, Arial, sans-serif;color: #393937;font-size: 14px;line-height: 17px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    </center>
  </body>
</html>
      